doctype html
html(lang="en")
    head
        title= GruntProjectTemplate
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link( rel="stylesheet" href="css/style.min.css")
        script(defer src="js/jquery.min.js")
        script(defer src="http://localhost:35729/livereload.js")
        script(defer src="js/html5shiv.min.js")
        script(defer src="js/respond.min.js")
        script(defer src="js/bootstrap.min.js")
        script(defer src="js/app.min.js")
    body
        header.header
            .container
                .row
                    .col-lg-2.col-md-2.col-sm-3.col-xs-6
                        a.header__logotype(href="/")
                            img(src="images/logotype.png")
                    .col-sm-9.col-xs-6.navbar-open
                        a.js-open-menu(href="#" data-toggle="collapse" data-target="#demo")
                            i.glyphicon.glyphicon-align-justify
                    .col-lg-10.col-md-10.col-sm-9.header__navbar-body.collapse#demo
                        nav.header__nav
                            ul.nav__list.js-nav__list
                                li.nav__list-item
                                    a.list-item__link.list-item__link_active(href="/") home
                                li.nav__list-item
                                    a.list-item__link.js-list-item__link(href="#services") services
                                li.nav__list-item
                                    a.list-item__link.js-list-item__link(href="#features") features
                                li.nav__list-item
                                    a.list-item__link.js-list-item__link(href="#portfolio") portfolio
                                li.nav__list-item
                                    a.list-item__link.js-list-item__link(href="#contact") contact
        .hero-block
            .container.container_vertical-align
                .row
                    .col-lg-12
                        h1.hero-block__title
                            span.title__top-text “I’m looking for the unexpected.
                            span.title__bottom-text I’m looking for things I’ve never seen before.”
        .wrapper
            section.blue-block.services-block
                .container
                    .row
                        .col-lg-12
                            h2.services-block__title.title_underline#services Services
                    .row
                        .col-lg-3.col-md-3.col-sm-3.col-xs-6.services-block__services-item
                            h3.services-item__title.services-item__title-coffee Coffee
                            p.services-item__description
                                | Apple pie icing sweet. Brownie jelly-o applicake applicake
                                | sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie.
                                | Tiramisu applicake jujubes.
                        .col-lg-3.col-md-3.col-sm-3.col-xs-6.services-block__services-item
                            h3.services-item__title.services-item__title-instant Instant
                            p.services-item__description
                                | Apple pie icing sweet. Brownie jelly-o applicake applicake
                                | sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie.
                                | Tiramisu applicake jujubes.
                        .col-lg-3.col-md-3.col-sm-3.col-xs-6.services-block__services-item
                            h3.services-item__title.services-item__title-serious Serious
                            p.services-item__description
                                | Apple pie icing sweet. Brownie jelly-o applicake applicake
                                | sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie.
                                | Tiramisu applicake jujubes.
                        .col-lg-3.col-md-3.col-sm-3.col-xs-6.services-block__services-item
                            h3.services-item__title.services-item__title-frame Frame
                            p.services-item__description
                                | Apple pie icing sweet. Brownie jelly-o applicake applicake
                                | sweet roll liquorice bear claw. Jujubes carrot cake cotton candy sweet tart brownie.
                                | Tiramisu applicake jujubes.
            section.white-block.portfolio-block
                .container
                    .row
                        .col-lg-2.col-md-2.col-sm-2.col-xs-6
                            h2.portfolio-block__title.title_underline.pull-left#portfolio portfolio
                        .col-lg-10.col-md-10.col-sm-10.portfolio-block__dropdown.js-portfolio-block__dropdown
                            a.portfolio-block__dropdown-link.js-dropdown__link(href="#")
                                b.caret
                                | all
                            ul.portfolio-block__list.js-dropdown__list
                                li.list__item
                                    a.list__item-link.list__item-link_active(href="#all" data-toggle="tab") all
                                li.list__item
                                    a.list__item-link(href="#panoramas" data-toggle="tab") panoramas
                                li.list__item
                                    a.list__item-link(href="#portraits" data-toggle="tab") portraits
                                li.list__item
                                    a.list__item-link(href="#macro" data-toggle="tab") macro
                                li.list__item
                                    a.list__item-link(href="#journal" data-toggle="tab") journal
                    .tab-content
                        .row.portfolio-block__gallery.tab-pane.active#all
                            .col-lg-3.col-md-3.col-xs-6.col-sm-4.gallery__item
                                img.gallery__item-img.img-responsive(src="images/img1.jpg")
                            .col-lg-3.col-md-3.col-xs-6.col-sm-4.gallery__item
                                img.gallery__item-img.img-responsive(src="images/img2.jpg")
                            .col-lg-3.col-md-3.col-xs-6.col-sm-4.gallery__item
                                img.gallery__item-img.img-responsive(src="images/img3.jpg")
                            .col-lg-3.col-md-3.col-xs-6.col-sm-4.gallery__item
                                img.gallery__item-img.img-responsive(src="images/img4.jpg")
                            .col-lg-3.col-md-3.col-xs-6.col-sm-4.gallery__item
                                img.gallery__item-img.img-responsive(src="images/img5.jpg")
                            .col-lg-3.col-md-3.col-xs-6.col-sm-4.gallery__item
                                img.gallery__item-img.img-responsive(src="images/img6.jpg")
                            .col-lg-3.col-md-3.col-xs-6.col-sm-4.gallery__item
                                img.gallery__item-img.img-responsive(src="images/img7.jpg")
                            .col-lg-3.col-md-3.col-xs-6.col-sm-4.gallery__item
                                img.gallery__item-img.img-responsive(src="images/img8.jpg")
                        .row.portfolio-block__gallery.tab-pane#panoramas
                            .col-lg-3.col-md-3.col-xs-6.col-sm-4.gallery__item
                                img.gallery__item-img.img-responsive(src="images/img8.jpg")
                            .col-lg-3.col-md-3.col-xs-6.col-sm-4.gallery__item
                                img.gallery__item-img.img-responsive(src="images/img3.jpg")
                            .col-lg-3.col-md-3.col-xs-6.col-sm-4.gallery__item
                                img.gallery__item-img.img-responsive(src="images/img4.jpg")
                            .col-lg-3.col-md-3.col-xs-6.col-sm-4.gallery__item
                                img.gallery__item-img.img-responsive(src="images/img5.jpg")
                        .row.portfolio-block__gallery.tab-pane#portraits
                            .col-lg-3.col-md-3.col-xs-6.col-sm-4.gallery__item
                                img.gallery__item-img.img-responsive(src="images/img1.jpg")
                            .col-lg-3.col-md-3.col-xs-6.col-sm-4.gallery__item
                                img.gallery__item-img.img-responsive(src="images/img8.jpg")
                            .col-lg-3.col-md-3.col-xs-6.col-sm-4.gallery__item
                                img.gallery__item-img.img-responsive(src="images/img3.jpg")
                            .col-lg-3.col-md-3.col-xs-6.col-sm-4.gallery__item
                                img.gallery__item-img.img-responsive(src="images/img4.jpg")
                            .col-lg-3.col-md-3.col-xs-6.col-sm-4.gallery__item
                                img.gallery__item-img.img-responsive(src="images/img5.jpg")
                        .row.portfolio-block__gallery.tab-pane#macro
                            .col-lg-3.col-md-3.col-xs-6.col-sm-4.gallery__item
                                img.gallery__item-img.img-responsive(src="images/img1.jpg")
                            .col-lg-3.col-md-3.col-xs-6.col-sm-4.gallery__item
                                img.gallery__item-img.img-responsive(src="images/img8.jpg")
                        .row.portfolio-block__gallery.tab-pane#journal
                            .col-lg-3.col-md-3.col-xs-6.col-sm-4.gallery__item
                                img.gallery__item-img.img-responsive(src="images/img5.jpg")
                            .col-lg-3.col-md-3.col-xs-6.col-sm-4.gallery__item
                                img.gallery__item-img.img-responsive(src="images/img6.jpg")
                            .col-lg-3.col-md-3.col-xs-6.col-sm-4.gallery__item
                                img.gallery__item-img.img-responsive(src="images/img7.jpg")
                            .col-lg-3.col-md-3.col-xs-6.col-sm-4.gallery__item
                                img.gallery__item-img.img-responsive(src="images/img1.jpg")
                            .col-lg-3.col-md-3.col-xs-6.col-sm-4.gallery__item
                                img.gallery__item-img.img-responsive(src="images/img2.jpg")
            section.video-block
                .container
                    .row
                        .col-lg-6.col-md-6
                            h2.title_underline Just default Section
                            p.video-block__description
                                span.description__top
                                    | Bear claw marzipan bear claw applicake I love muffin. Lemon drops gummi bears pastry gummi
                                    | bears sesame snaps I love unerdwear.com. Soufflé cotton candy dessert candy ice cream
                                    | wafer gummies cheesecake brownie.
                                span.description__bottom
                                    | Muffin chupa chups jelly beans sweet pie applicake. Croissant chocolate cake I love
                                    | pudding. Ice cream I love powder pudding apple pie marshmallow. Cupcake marzipan oat
                                    | cake bonbon I love candy canes toffee.
                            a.btn.btn-default.btn-grey(href="https://player.vimeo.com/video/152644113") visit me
                        .col-lg-6.col-md-6
                            <iframe src="https://player.vimeo.com/video/152644113" width="100%" height="315"
                            | frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            section.blue-block.twitter-block
                .container
                    .row
                        .col-lg-11.col-md-11.col-sm-11.col-xs-9
                            h2.twitter-block__title.title_underline twitter
                            p.twitter-block__description
                                | Unerdwear cookie liquorice. Cake donut cupcake lollipop soufflé candy. Chocolate
                                | oat cake
                                span  @cheesecake
                                |  tootsie roll.
                        .col-lg-1.col-md-1.col-sm-1.col-xs-3.twitter-block__right
                            a.twitter-link(href="https://twitter.com/?lang=ru")
                                i.icon.icon-twitter
            section.customer-block
                .container
                    .row
                        .col-lg-12.col-xs-12
                            h2.customer-block__title.title_underline#features Who is john doe?
                    .row
                        .col-lg-6.col-xs-12
                            p.customer-block__description
                                | Bear claw marzipan bear claw applicake I love muffin. Lemon drops gummi bears pastry
                                | gummi bears sesame snaps I love unerdwear.com. Soufflé cotton candy dessert candy ice
                                | cream wafer gummies cheesecake brownie.
                            p.customer-block__description
                                | Muffin chupa chups jelly beans sweet pie applicake. Croissant chocolate cake I love
                                | pudding. Ice cream I love powder pudding apple pie marshmallow. Cupcake marzipan oat
                                | cake bonbon I love candy canes toffee.
                        .col-lg-6.col-xs-12
                            p.customer-block__description
                                | Pudding dessert jujubes tiramisu gingerbread croissant tiramisu applicake. Sesame
                                | snaps sugar plum cotton candy chocolate bonbon lemon drops candy canes cotton candy.
                                | Cake toffee pie bear claw pastry.
                            .social-block
                                a.social-block__link(href="#")
                                    i.icon.icon-twitter
                                a.social-block__link(href="#")
                                    i.icon.icon-gplus
                                a.social-block__link(href="#")
                                    i.icon.icon-dribbble
                                a.social-block__link(href="#")
                                    i.icon.icon-coffee
            section.white-block.testimonials-block
                .container
                    .row
                        .col-lg-11.col-md-11.col-sm-11.col-xs-10
                            h2.testimonials-block__title.title_underline Testimonials
                            p.testimonials-block__desctiption
                                | Applicake chocolate cake wafer toffee pie soufflé wafer. Tart marshmallow wafer
                                | macaroon cheesecake jelly. Gingerbread cookie soufflé sweet roll sweet roll jelly-o.
                            span.testimonials-block__autor
                                | -Walter White
                        .col-lg-1.col-md-1.col-sm-1.col-xs-2
                            .quote
            section.smoke-block
                .container
                    .row
                        .col-lg-12.col-md-12.col-sm-12
                            h2.smoke-block__title.title_underline#contact contact
                    .row
                        .col-lg-12.col-md-12.col-sm-12
                            .row
                                form.smoke-block__contact-form
                                    .col-lg-12.col-md-12.col-sm-12.contact-form__item
                                        .row
                                            .col-lg-5.col-md-5.col-sm-5
                                                .form-group
                                                    label.contact-form__text_uppecrace full name
                                                    input.form-control(type="text")
                                            .col-lg-6.col-lg-offset-1.col-md-7.col-sm-7
                                                    p.input-description
                                                        | Jujubes bear claw croissant wafer sweet lemon drops brownie chocolate bar.
                                                        | Sweet lollipop halvah tootsie roll cake fruitcake. Chocolate cake chocolate
                                                        | bar gingerbread lollipop tart. Jujubes bear claw donut chupa chups.
                                    .col-lg-12.col-md-12.col-sm-12.contact-form__item
                                        .row
                                            .col-lg-5.col-md-5.col-sm-5
                                                .form-group
                                                    label.contact-form__text_uppecrace email
                                                    input.form-control(type="text")
                                            .col-lg-6.col-lg-offset-1.col-md-7.col-sm-7
                                                    p.input-description
                                                        | Linda Newman
                                                        br
                                                        | W325 State Road 123
                                                        br
                                                        | Mondovi, WI(Wisconsin) 98746-54321
                                                        br
                                                        | (715) 946 - 1234
                                    .col-lg-12.col-md-12.col-sm-12.contact-form__item
                                        .form-group
                                            label.contact-form__text_uppecrace message
                                            textarea.form-control.form-textarea
                                    .col-lg-4.col-md-4.col-sm-4
                                        .form-group
                                            button.btn-contact-form message
        footer.footer.bottom-block
            .container
                .row
                    .col-lg-11.col-md-11.col-sm-11.col-xs-9
                        ul.bottom-block__nav.js-nav__list
                            li.nav__item
                                a.nav__item-link(href="/") home
                            li.nav__item
                                a.nav__item-link.js-list-item__link(href="#services") services
                            li.nav__item
                                a.nav__item-link.js-list-item__link(href="#portfolio") portfolio
                            li.nav__item
                                a.nav__item-link.js-list-item__link(href="#contact") contact
                    .col-lg-1.col-md-1.col-sm-1.col-xs-3.bottom-block__copyright
                        span 2013&#169;